.text__content h1 {
  font-size: 26px;
}
.text__content h1,
p {
  z-index: 999;
  color: #fff;
}
.text__content p {
  transition: all 0.2s;
}
.text__content:hover h1 {
  color: rgb(0, 0, 0);
  transition: all 0.4s;
}
.text__content:active,
.text__content:hover p {
  color: rgb(224, 224, 224);
  transition: all 0.4s;
  opacity: 1;
}
.text__content .btn {
  width: 15rem;
  margin: 0 auto;
  border-radius: 4px;
  color: #fff;
}
/* Main || Section 1 */
.section1 {
  position: relative;
  margin: 100px 0 ;
  background-color: rgba(255, 255, 255, 0.811);
  padding: 10px;
}
.section1 .flexdesign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  border-radius: 12px;
}
.section1 .software_block {
  position: relative;
  width: 610px;
  height: 537px;
  border-radius: 14px;
  box-shadow: rgba(158, 157, 157, 0.35) 0px 5px 15px;
}
.software_block .software_img {
  position: absolute;
  width: 100%;
  left: 40px;
  height: 420px;
  top: 50%;
  transition: all 0.5s;
  border-radius: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* text */
.software_box {
  width: 600px;
  margin: 0 auto 60px;
}
.software_box h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
  color: rgb(44, 44, 44);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.software_box p {
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}
.software_box .software_link {
  width: 170px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.software_box.software_link {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.software_link::before {
  content: '';
  height: 2px;
  transition: all 0.3s;
  width: 100%;
  display: block;
  position: absolute;
  background-color: #000000;
  top: 30px;
  border-radius: 3px;
}
.software_link:hover::before {
  transition: all 0.3s;
  background-color: #B1C0CB !important;
}
.software_box a {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  color: rgb(0, 0, 0);
}
.software_box a i {
  transform: rotate(180deg);
  position: absolute;
  top: -5px;
  right: 5px;
}
.software_link:hover a {
  transition: all 0.3s;
  color: #B1C0CB;
}
@media only screen and (min-width: 280px) {
  .software_box {
    width: 320px;
  }
  .software_box h2 {
    font-size: 30px;
    width: 100%;
  }
  .software_box p {
    font-size: 16px;
    width: 100%;
    height: 100%;
    max-width: 280px;
  }
 
}
@media only screen and (min-width: 440px) {
  .software_box {
    width: 100%;
  }
  .software_box h2 {
    font-size: 32px;
    width: 100%;
  }
  .software_box p {
    font-size: 18px;
    width: 100%;
    height: 100%;
    max-width: 900px;
  }
  
  
}
@media only screen and (max-width: 465px) {
  .section1 .software_block {
    width: 300px;
    height: 443px;
  }
  .software_block .test {
    position: absolute;
    right: 0;
    left: 0;
    height: 410px;
    width: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    object-fit: cover;
  }

}
@media only screen and (max-width: 687px) {
  .section1 .flexdesign {
    flex-direction: column-reverse;
    align-items: flex-start;
    transition: all 0.4s ease;
  }
  .section1 .flexdesign .software_box {
    margin-bottom: 60px;
  }
  .section1 .software_block {
    width: 100%;
    height: 443px;
  }
  .software_block .software_img {
    position: absolute;
    right: 0;
    left: 0;
    height: 410px;
    width: 90%;
    margin: 0 auto;
    transform: translateY(-50%);
    object-fit: cover;
  }
  .software_box .software_link a {
   margin-left: 5px;
  }
}
@media only screen and (min-width: 687px) {
  .section1 .flexdesign {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.4s ease;
  }
  .software_box h2 {
    font-size: 34px;
    width: 100%;
  }
  .section1 .flexdesign .software_box {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .section1 .software_block {
    width: 550px;
    height: 460px;
    margin-right: 30px;
  }
  .software_block .software_img {
    position: absolute;
    right: 0;
    width: 95%;
    left: 0;
    height: 420px;
    object-fit: cover;
    margin: 0 auto;
    transform: translateY(-50%);
  }
 
 
}
@media only screen and (min-width: 990px) {
  .section1 .flexdesign {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.4s ease;
  }
  .section1 .flexdesign .software_box {
    width: 80%;
  }
  .software_block .software_img {
    position: absolute;
    right: 0;
    left: 0;
    transform: translate(-50%, -50%);
    height: 400px;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  .software_box .software_link {
    position: absolute;
    right: 40px;
    bottom: 80px;
   }
 
 
}
@media only screen and (min-width: 1280px) {
  .section1 .flexdesign .software_box {
    width: 60%;
  }
  .software_box p {
    font-size: 18px;
    width: 100%;
    height: 100%;
  }
}