
/* 
    Auto kod notes  */
body {
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.wrapper .header {
    background:  url(../../images/headerImgs/background_two.png);
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-top: 20px;
}
.header .header_container {
    margin: 0 auto;
    position: relative;
}
._container {
    max-width: 1240px;
    margin: 0 auto;
}
/* Text content header */
header .text-content {
    margin-top: 100px;
    height: 100%;
}
.text-content .intake_container {
    margin-top: 100px;
}
.text-content .intake_container .intake_content {
    width: 100%;
    margin-bottom: 100px;
}
.intake_content .intake_title h1 {
    font-style: normal;
    font-size: 42px;
    font-weight: 600;
    line-height: 72px;
    text-shadow: 1px 1px 9px rgb(32, 32, 32);
}
@media(max-width:687px) {
    .intake_content .intake_title h1 {
        font-size: 38px;
    }
}
.intake_content .intake_button {
    position: relative;
    width: 270px;
    height: 75px;
    border-radius: 7px;
    border: 2px solid #ffffff;
    background-size: 100% 200%;
    text-align: center;
    margin: 50px 0 0;
    background-position: top;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 6px black;
    box-shadow: inset 0 0 0 #0081DC;
}
.intake_button .intBtn {
    font-size: 20px;
    z-index: 1;
    transition: ease-in .3s;
    font-weight: 600;
    letter-spacing: 0;
    outline: none;
    line-height: 65px;
    width: 100%;
    color: #fff;
    height: 100%;
    overflow: hidden;
}
.intake_button:hover {
    box-shadow: inset 300px 0 0 0 #0081DC;
    border: 2px solid #0081DC;
}
.gg-arrow-left {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    top: 22px;
    line-height: 10px;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    transform: rotate(180deg);
}
.gg-arrow-left::after,
.gg-arrow-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: -4px
}
.gg-arrow-left::after {
    width: 13px;
    height: 13px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7.5px
}
.gg-arrow-left::before {
    width: 17px;
    height: 2px;
    bottom: 13px;
    background: currentColor
}

@media(max-width:687px) {
    .text-content .intake_content {
        margin-top: 171px;
    }
}
